.base {
}

.label {
  display: inline-block;
  padding: 0 4px;
  font-size: 10px;
  line-height: 20px;
  border: 1px solid #DAA520;
  border-radius: 4px;
  color: #DAA520;
}

.linkBlock {
  display: block;
  text-decoration: none;
}

.coverImage {
  display: block;
  width: 300px;
  height: 122px;
  margin-top: 12px;
}

.title {
  margin: 0;
  padding: 18px 0 12px;
  font-size: 17px;
  color: #24282A;
}

.description {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
  color: #6A6E71;
  -webkit-font-smoothing: antialiased;
}

.companyBlock {
  position: relative;
  width: 100%;
}

.companyAvatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #EBEDEF;
  border-radius: 50%;
}

.companyName {
  margin: 16px 0 0 56px;
  font-size: 13px;
  line-height: 40px;
  color: #6A6E71;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.base {
    position: relative;
}

.item {
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 300ms ease;
}
.slideBox{
    height: 390px;
    display: inline-block;
}
.slideBoxButton_pre {
    position: relative;
    left: -10px;
    bottom: 200px;
}
.slideBoxButton_next {
    position: relative;
    right: -10px;
    bottom: 200px;
}
.PortalSliderBoxTitle {
    font-weight: 600;
    color: #9DA0A4;
    font-size: 20px;
    margin: 40px 0 28px;
    -webkit-font-smoothing: antialiased;
}

.PortalSliderBoxMoreButton {
    right: 30px;
    top: 50px;
    font-size: 16px;
    color: #00A4BB;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}
.PortalSliderBox {
    width: 100%;
    position: relative;
    height: 500px;
}
